/* Estilos generales para el cuerpo del documento */
body {
    font-family: Arial, sans-serif; /* Fuente del texto */
    margin: 0; /* Elimina el margen predeterminado */
    padding: 0; /* Elimina el relleno predeterminado */
    background-color: #f4f4f4; /* Color de fondo */
    color: #333; /* Color del texto */
    transition: background-color 0.5s, color 0.5s; /* Transición para el cambio de color */
}

/* Estilos para el encabezado */
header {
    background: #333; /* Color de fondo del encabezado */
    color: white; /* Color del texto del encabezado */
    padding: 20px 0; /* Relleno superior e inferior */
    text-align: center; /* Centra el texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra del encabezado */
    transition: background-color 0.5s, color 0.5s; /* Transición para el cambio de color */
}

/* Estilos para la navegación */
nav {
    position: relative; /* Posicionamiento relativo para el contenedor de navegación */
}

/* Estilos para la imagen */
.yo {
    width: 150px; /* Ajusta el tamaño de la imagen */
    border-radius: 50%; /* Hace la imagen circular */
    display: block; /* Centra la imagen horizontalmente */
    margin: 20px auto; /* Añade margen superior e inferior y centra la imagen */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra de la imagen */
    transition: transform 0.3s; /* Transición para la transformación */
}

.yo:hover {
    transform: scale(1.1); /* Escala la imagen al pasar el ratón */
}

/* Estilos para el botón de menú en dispositivos móviles */
.menu-toggle {
    display: none; /* Oculta el botón por defecto */
    background: #333; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    padding: 10px; /* Relleno del botón */
    font-size: 18px; /* Tamaño de la fuente del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    position: absolute; /* Posicionamiento absoluto para el botón */
    top: 10px; /* Posición desde la parte superior */
    right: 10px; /* Posición desde la parte derecha */
}

/* Estilos para la lista de navegación */
nav ul {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el relleno */
    text-align: center; /* Centra el texto */
}

/* Estilos para los elementos de la lista de navegación */
nav ul li {
    display: inline-block; /* Muestra los elementos en línea */
    margin: 0 10px; /* Espaciado entre los elementos */
    position: relative; /* Posicionamiento relativo para los elementos */
}

/* Estilos para los enlaces de navegación */
nav ul li a {
    color: white; /* Color del texto del enlace */
    text-decoration: none; /* Elimina el subrayado del enlace */
    padding: 10px; /* Relleno del enlace */
    display: block; /* Muestra el enlace como un bloque */
    transition: color 0.3s, background-color 0.3s; /* Transición para el color y el fondo */
}

/* Estilos para los enlaces de navegación al pasar el ratón */
nav ul li a:hover {
    color: #ff6347; /* Color del texto al pasar el ratón */
    background-color: #444; /* Color de fondo al pasar el ratón */
}

/* Estilos para la línea inferior de los enlaces de navegación */
nav ul li a::after {
    content: ''; /* Contenido vacío para la línea */
    display: block; /* Muestra la línea como un bloque */
    width: 0; /* Ancho inicial de la línea */
    height: 2px; /* Altura de la línea */
    background: #ff6347; /* Color de la línea */
    transition: width 0.3s; /* Transición para el ancho */
    position: absolute; /* Posicionamiento absoluto para la línea */
    bottom: 0; /* Posición desde la parte inferior */
    left: 0; /* Posición desde la parte izquierda */
}

/* Estilos para la línea inferior de los enlaces de navegación al pasar el ratón */
nav ul li a:hover::after {
    width: 100%; /* Ancho completo de la línea */
}

/* Estilos para los encabezados h1 y h2 */
h1 {
    color: #ffffff; /* Color del texto */
    transition: color 0.5s; /* Transición para el cambio de color */
}

h2 {
    color: #ff6347; /* Color del texto */
    transition: color 0.5s; /* Transición para el cambio de color */
}

/* Estilos para las imágenes de las listas */
#skills ul li img {
    padding: 20px;
    width: 90px; /* Ajusta el tamaño de las imágenes */
    height: auto; /* Mantiene la proporción de las imágenes */
    vertical-align: middle; /* Alinea verticalmente las imágenes con el texto */
    margin-right: 10px; /* Añade espacio entre la imagen y el texto */
}

/* Estilos para pantallas de hasta 768px de ancho */
@media only screen and (max-width: 768px) {
    /* Estilos para las imágenes de las listas en pantallas pequeñas */
    #skills ul li img {
        width: 25px; /* Ajusta el tamaño de las imágenes */
    }
}

/* Estilos para pantallas de hasta 480px de ancho */
@media only screen and (max-width: 480px) {
    /* Estilos para las imágenes de las listas en pantallas muy pequeñas */
    #skills ul li img {
        width: 20px; /* Ajusta el tamaño de las imágenes */
    }
}

/* Estilos para las secciones */
section {
    margin: 20px; /* Margen alrededor de las secciones */
    text-align: center; /* Centra el texto */
    padding: 20px; /* Relleno de las secciones */
    background: #fff; /* Fondo blanco para las secciones */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra de las secciones */
    border-radius: 8px; /* Bordes redondeados */
    transition: background-color 0.5s, color 0.5s; /* Transición para el cambio de color */
}

/* Estilos para las listas dentro de las secciones */
section ul {
    list-style: none; /* Elimina los puntos de las listas */
    padding: 0; /* Elimina el relleno */
}

/* Estilos para el pie de página */
footer {
    text-align: center; /* Centra el texto */
    padding: 10px 0; /* Relleno superior e inferior */
    background: #333; /* Color de fondo */
    color: white; /* Color del texto */
    transition: background-color 0.5s, color 0.5s; /* Transición para el cambio de color */
}

/* Animación de desvanecimiento */
@keyframes fadeIn {
    0% {
        opacity: 0; /* Opacidad inicial */
    }
    100% {
        opacity: 1; /* Opacidad final */
    }
}

/* Animación de deslizamiento */
@keyframes slideIn {
    0% {
        transform: translateX(-100%); /* Posición inicial fuera de la pantalla */
    }
    100% {
        transform: translateX(0); /* Posición final en la pantalla */
    }
}

/* Clase para aplicar la animación de desvanecimiento */
.fade-in {
    animation: fadeIn 1s ease-in; /* Aplica la animación de desvanecimiento */
}

/* Clase para aplicar la animación de deslizamiento */
.slide-in {
    animation: slideIn 0.5s ease-out; /* Aplica la animación de deslizamiento */
}

/* Estilos para el modo oscuro */
.dark-mode {
    background-color: #121212; /* Color de fondo oscuro */
    color: #e0e0e0; /* Color del texto claro */
}

.dark-mode header {
    background: #1e1e1e; /* Color de fondo del encabezado oscuro */
    color: #e0e0e0; /* Color del texto claro */
}

.dark-mode footer {
    background: #1e1e1e; /* Color de fondo del pie de página oscuro */
    color: #e0e0e0; /* Color del texto claro */
}

.dark-mode nav ul li a {
    color: #e0e0e0; /* Color del texto del enlace claro */
}

.dark-mode nav ul li a:hover {
    background-color: #333; /* Color de fondo al pasar el ratón en modo oscuro */
}

.dark-mode section {
    background-color: #333; /* Color de fondo de las secciones en modo oscuro */
    color: #e0e0e0; /* Color del texto de las secciones en modo oscuro */
}

/* Estilos para pantallas de hasta 768px de ancho */
@media only screen and (max-width: 768px) {
    body {
        font-size: 14px; /* Tamaño de la fuente reducido */
    }

    .menu-toggle {
        display: block; /* Muestra el botón de menú */
    }

    nav ul {
        display: none; /* Oculta la lista de navegación */
        text-align: center; /* Centra el texto */
    }

    nav ul.show {
        display: block; /* Muestra la lista de navegación */
        animation: slideIn 0.5s ease-out; /* Aplica la animación de deslizamiento */
    }

    nav ul li {
        display: block; /* Muestra los elementos en bloque */
        margin: 5px 0; /* Espaciado entre los elementos */
    }

    .container {
        padding: 10px; /* Relleno del contenedor */
    }

    /* Estilos para la imagen en pantallas pequeñas */
    .yo {
        width: 100px; /* Ajusta el tamaño de la imagen */
    }
}

/* Estilos para pantallas de hasta 480px de ancho */
@media only screen and (max-width: 480px) {
    header h1 {
        font-size: 24px; /* Tamaño de la fuente reducido */
    }

    header h2 {
        font-size: 18px; /* Tamaño de la fuente reducido */
    }

    .contact-info {
        font-size: 12px; /* Tamaño de la fuente reducido */
    }

    .skills {
        font-size: 12px; /* Tamaño de la fuente reducido */
    }

    section {
        padding: 5px; /* Relleno reducido */
    }

    /* Estilos para la imagen en pantallas muy pequeñas */
    .yo {
        width: 80px; /* Ajusta el tamaño de la imagen */
    }
}